/*///////
// NAV //
///////*/

.nav {
  /* position */
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 100;

  /* size */
  width: 90vw;
  height: 80px !important;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    90% 85%,
    10% 85%,
    5% 100%,
    0 100%
  );

  /* flexbox */
  display: flex;
  align-items: start;
  justify-content: flex-end;

  /* styling */
  /* overflow: hidden; */
  /* padding: 0.8rem 8%; */
  padding: 0.8rem 8% 0.8rem 1%;
  background-color: var(--color-navbar-bg);
  backdrop-filter: blur(3px);
  border-radius: var(--border-radius);
}

.nav.sticky {
  /* position */
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;

  /* size */
  width: 100vw;
  clip-path: none;

  /* styling */
  padding: 1.2rem 5%;
  border-radius: 0;
  box-shadow: var(--default-boxshadow);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav.sticky .nav__links {
  border-radius: 0%;
}

.nav .menu-btn {
  display: none;
}

.nav .logo-box {
  height: 100%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav .nav__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav .nav__links {
  display: flex;
  gap: 2.4rem;
  overflow: hidden;
}

.nav .nav__item {
  list-style-type: none;
}

.nav .nav__link:link,
.nav .nav__link:visited {
  /* font */
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  display: inline-block;
  padding: 1.2rem;
  color: var(--color-accent-darkest);
  text-decoration: none;
}

.nav .menu-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin: 1.2rem 2.4rem;
  cursor: pointer;
  position: relative;
  display: none;
  /* background-color: black; */
}

.nav .nav-icon {
  background-color: var(--color-accent-darkest);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.2rem;
  height: 0.4rem;
  border-radius: var(--border-radius);
  display: none;
  /* transition: transform 0.5s ease; */
}

.nav .nav-icon::before,
.nav .nav-icon::after {
  background-color: var(--color-accent-darkest);
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  position: relative;
  transition: all 0.2s ease-out;
}

.nav .nav-icon::before {
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}

.nav .nav-icon::after {
  top: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}
.nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
.nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0px;
  left: 4px;
}

.nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: -3px;
  left: 4px;
}
