// IMPLEMENTING BACKGROUND VIDEO

.wrapper {
  position: relative;
  z-index: 1;
  // just basic container styling

  margin: 0 auto;
  width: 50rem;
  height: 25rem;
  background-color: aquamarine;
}
