.animals-slider--wrapper {
  position: relative;

  .slider {
    width: $slider-width;
    height: $slider-height;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;

    .slide {
      /* position and size */
      position: absolute;
      top: 0;
      left: 33%;
      width: $slider-slide-width;
      height: $slider-height;
      overflow: hidden;

      /* flexbox */
      display: flex;
      align-items: center;
      justify-content: center;

      /* styling */
      opacity: 0.6;
      filter: blur(5px);
      transform: scale(0.6);

      /* transitions and animations */
      transition: transform 1s, filter 1s;

      &::after {
        content: "";
        position: absolute;
        width: calc(#{$slider-slide-width}/ 2);
        height: 0;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-40%);
        /* background-color: black; */
        box-shadow: 0 0 16px 2px #010101;
        z-index: -1;
      }

      &.activeSlide {
        opacity: 0.9;
        filter: blur(0);
        transform: scale(1) !important;
      }

      .slide-image-wrapper {
        > * {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          perspective: 20rem;
          transform-style: preserve-3d;
        }

        .slide--image {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        /* ----- styling for animated images ----- */
        .slide-image--left {
          /* orientation of perspective from left to center */
          perspective-origin: left center;
          /* cut image in half */
          /* clip path: left-top, left-top, left-top, left-top in watch direction from top left*/
          clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
          /* clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%); */

          .image-left-animated {
            animation: k-left-side 2s ease-in-out infinite;
            animation-direction: alternate;
          }
        }

        .slide-image--right {
          /* orientation of perspective from right to center */
          perspective-origin: right center;
          /* cut image in half */
          clip-path: polygon(49% 0, 100% 0, 100% 100%, 49% 100%);
          /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%); */

          .image-right-animated {
            animation: k-right-side 2s ease-in-out infinite;
            animation-direction: alternate;
          }
        }
      }
    }
  }

  .slider-info {
    text-wrap: balance;
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: $slider-slide-width;
    backdrop-filter: blur(5px);
    background-color: $color-grey-trasparent;
    padding: $padding-default;
    border-radius: 8px;
    /* font-size: calc(var(--index) * 1.1); */
  }

  .slider__btn {
    /* positioning and dimensions */
    position: absolute;
    bottom: 3%;
    height: $slider-btn-height;
    width: $slider-btn-width;

    /* styling */
    border: none;
    background: $color-accent-lighter-transparent;
    color: $color-accent-darker;
    border-radius: 50%;

    font-size: 3.2rem;
    cursor: pointer;

    /* flexbox */
    display: flex;
    align-items: center;
    justify-content: center;

    &--left {
      left: 4%;
      transform: translateY(50%);
    }

    &--right {
      right: 4%;
      transform: translateY(50%);
    }
  }

  .dots {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    &__dot {
      border: none;
      background-color: $color-accent-lighter;
      opacity: 0.7;
      height: $slider-dot-height;
      width: $slider-dot-width;
      border-radius: 50%;
      margin-right: 0.8rem;
      cursor: pointer;
      transition: all 0.5s;

      &:last-child {
        margin: 0;
      }

      &--active {
        background-color: $color-accent;
        opacity: 1;
      }
    }
  }
}
