.features--section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features--section .features {
  /* flex: 1; */
  display: grid;
  /* padding: var(--padding-default); */
  padding: 0 var(--padding-bigger);
  /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* max-width: min(1700px, 100vw); */
  gap: 2.4rem;
}

.features--section .features__feature {
  padding: var(--padding-smaller);
  background-color: var(--color-accent--lightest);
  border-radius: var(--border-radius);
  transition: all 300ms ease-in-out;
  max-width: 400px;
}

@media (max-width: 1200px) {
  .features--section .features {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .features--section .features {
    grid-template-columns: 1fr;
  }
}

.features--section .features__feature:hover,
.features--section .features__feature:active {
  transform: scale(1.1);
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); */
  box-shadow: var(--default-boxshadow);
}

.features--section .feature-icon {
  width: 4.8rem;
  height: 4.8rem;
  filter: saturate(100%) invert(35%) sepia(50%) hue-rotate(115deg)
    saturate(500%) contrast(100%);
}

.features--section .feature--title {
  letter-spacing: 0.1rem;
}

@media (max-width: 600px) {
  .features--section .feature--description {
    font-size: var(--font-size-smallscreens);
  }
}
