/*////////////////////////////
// @MEDIA MAX-WIDTH: 1200PX //
////////////////////////////*/
@media (max-width: 1200px) {
  /* ----- ROOOT ----- */
  html {
    font-size: 56.25%;
  }

  /* ----- NAVBAR ----- */
  .nav {
    /* nav--position and size */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    clip-path: none;

    /* nav--flexbox */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* nav--styling*/
    border-radius: 0;
    padding: 0.8rem 8% 0.8rem 5%;
  }

  /* ----- FEATURES SECTION ----- */
  .features--section .features {
    grid-template-columns: 1fr 1fr;
  }
}

/*////////////////////////////
// @MEDIA MAX-WIDTH: 800PX //
////////////////////////////*/
@media (max-width: 800px) {
  /* ----- NAVBAR ----- */
  .nav .nav__links {
    /* size and position */
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;

    /* flexbox */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    /* styling */
    opacity: 0;
    background-color: var(--color-navbar-bg);
    backdrop-filter: blur(3px);

    transition: all 0.2s ease-in-out;
  }

  .nav .menu-icon {
    display: inline-block;
  }

  .nav .nav-icon {
    display: block;
  }

  .nav .menu-btn:checked ~ .nav__links {
    height: auto;
    opacity: 1;
  }

  /* ----- GRID ----- */
  .grid.grid-cols--2 {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .grid.grid-cols--2 div:nth-child(4) {
    grid-row: 3;
  }
  .grid.grid-cols--2 div:nth-child(8) {
    grid-row: 7;
  }

  .grid > .description-box:not(:last-child) {
    margin-bottom: var(--margin-bottom-normal);
  }
  .grid > * {
    padding: var(--margin-bottom-smaller);
  }
}

/*////////////////////////////
// @MEDIA MAX-WIDTH: 600PX //
////////////////////////////*/
@media (max-width: 600px) {
  .features--section .features {
    grid-template-columns: 1fr;
  }
}
