@media (max-width: 600px) {
  .section {
    padding: var(--padding-adaptive);
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  /* ROOT CSS */
  .grid.grid-cols--2 {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .grid.grid-cols--2 div:nth-child(4) {
    grid-row: 3;
  }
  .grid.grid-cols--2 div:nth-child(8) {
    grid-row: 7;
  }
}
