* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* just for debugging */
  /* outline: 1px solid saddlebrown; */
}

:root {
  /* SPACING SYSTEM (px): 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128, 160, 192, 224  */

  --index: calc(1vw + 1vh); /* will-change: --index; */
  --border-radius: 8px;
  --font-size-smallscreens: calc(var(--index) * 1.1);
  --font-size-smallscreens-title: calc(var(--index) * 1.5);

  /* SPACES--paddings */
  --padding-bigger: 4.8rem;
  --padding-default: 3.2rem;
  --padding-smaller: 2.4rem;
  --padding-smallest: 1.2rem;
  --padding-adaptive: calc(var(--sindex) * 2);

  /* SPACES--margins */
  --margin-bottom-bigest: calc(var(--index) * 15);
  /* --margin-bottom-big: 22.4rem; */
  /* 22.4rem - 120px of section-nav-rootMargin */
  --margin-bottom-big: 10.4rem;
  --margin-bottom-normal: 4.8rem;
  --margin-bottom-smaller: 2.4rem;
  --margin-bottom-smallest: 1.6rem;

  /* SPACES--slider */
  --slider-height: calc(var(--index) * 20);
  --slider-width: 90vw;
  --slider-slide-width: 30vw;
  --slider-btn-width: 4.8rem;
  --slider-btn-height: 4.8rem;
  --slider-dot-height: 1.6rem;
  --slider-dot-width: 1.6rem;
  --slider-dot-height-smallscreen: calc(var(--index) * 0.9);
  --slider-dot-width-smallscreen: calc(var(--index) * 0.9);

  /* main colors */
  --color-navbar-bg: rgba(218, 218, 218, 0.6);
  --color-navbar-bg-focus: rgba(218, 218, 218, 0.8);
  --color-navbar-border: rgba(6, 95, 19, 0.5);
  --color-text-primary: #181818;
  --color-nearly-white: #fdfdfd; 
  --color-grey: #f1f3f5;
  --color-grey-trasparent: rgba(217, 217, 217, 0.2);
  --color-accent-darkest: #1b5c29;
  --color-accent-darker: #2f9e44;
  --color-accent: #40c057;
  --color-accent-lighter: rgb(178, 242, 187); /* #b2f2bb */
  --color-accent-lighter-transparent: rgba(178, 242, 187, 0.3);
  --color-accent--lightest: #f7fcf7;
  --color-accent--lightest-trasparent: rgba(247, 252, 247, 0.6);

  --default-boxshadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

html {
  /* avoiding fixed font-size to allow user set their font-size */
  /* font-size: 10px; */
  /* seting it to % of user's settings: 10px / 16px = 0.625 === 62.5%*/
  /* so now 1rem === 10px */
  font-size: 62.5%;
}

body {
  overflow-x: hidden !important;
  width: 100vw;
  background-color: var(--color-accent--lightest);

  /* font */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-text-primary);
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-size: 2.9rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

/* ----- TITLE CLASSES ----- */

.title {
  color: var(--color-text-primary);
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-wrap: balance;
}

.title .title--span {
  color: var(--color-accent-darker);
}

.title--primary {
  letter-spacing: calc(var(--index) / 4);
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.5);
}

.title--secondary {
  letter-spacing: calc(var(--index) / 5);
  font-size: calc(var(--index) * 1.4);
}

/* ----- MARGIN CLASSES ----- */

.margin-botton-bigest {
  margin-bottom: var(--margin-bottom-bigest);
}
.margin-botton-big {
  margin-bottom: var(--margin-bottom-big);
}
.margin-botton-normal {
  margin-bottom: var(--margin-bottom-normal);
}
.margin-botton-smaller {
  margin-bottom: var(--margin-bottom-smaller);
}
.margin-botton-smallest {
  margin-bottom: var(--margin-bottom-smallest);
}

/* ----- SECTION CLASSES ----- */

.section {
  padding: var(--padding-adaptive);
  font-size: 1.6rem;
  max-width: 100vw;
  /* overflow: hidden; */
}

@media (max-width: 600px) {
  .section {
    padding: var(--padding-adaptive);
    font-size: 1.6rem;
  }
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
}

.section-nav-rootMargin {
  width: 100vw;
  /* height: navbar height + 50% of its height */
  height: 120px;
  opacity: 0;
}

/* ----- GENERAL CLASSES ----- */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.container--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
