* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* just for debugging */
  /* outline: 1px solid saddlebrown; */
}

:root {
  /* sizes */
  /* will-change: --index; */
  --index: calc(1vw + 1vh);
  --font-size: 16px;
  --border-radius: 8px;
  --section-margin-top: calc(var(--index) * 5);
  /* SPACES: 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128  */

  /* main colors */
  --color-text-primary: #181818;
  --color-nearly-white: #fdfdfd;
  --color-grey: #f1f3f5;
  /* --color-accent-darkest: #2b8a3e; */
  --color-accent-darkest: #1b5c29;
  --color-accent-darker: #2f9e44;
  --color-accent: #40c057;
  --color-accent-lighter: rgb(178, 242, 187); /* #b2f2bb */
  --color-accent-lighter-transparent: rgba(178, 242, 187, 0.3);
  --color-accent--lightest: #f7fcf7;

  /* slider */
  --slider-width: 90vw;
  --slider-slide-width: 30vw;
  --slider-height: calc(var(--index) * 20);
  --slider-btn-width: calc(var(--index) * 3);
  --slider-btn-height: calc(var(--index) * 3);
  --slider-btn-font-size: calc(var(--index) * 2);

  --slider-btn-color: #e9e9e9;
  /* --slider-btn-color-bg: rgba(0, 0, 0, 0.7); */
  --slider-btn-z-index: 2;
  --slider-dot-height: calc(var(--index));
  --slider-dot-width: calc(var(--index));
  --slider-dot-margin-right: calc(var(--index));
}

body {
  background-color: var(--color-accent--lightest);

  /* font */
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--color-text-primary);
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-size: 2.986rem;
  font-weight: 700;
}

h2 {
  font-size: 2.488rem;
  font-weight: 600;
}

/* HEADER */

.title {
  color: var(--color-nearly-white);
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.4); */
  text-shadow: 0 0 2px#000000;
}
/* .layer__caption .title {
  color: var(--color-accent--lightest);
} */

.title .title--span {
  color: var(--color-accent-darker);
}

/* SECTION */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.section {
  /* min-height: 75vh; */
  padding: calc(var(--index) * 2);
}

.hidden {
  display: none;
  opacity: 0;
}

/* COMING SOON */
.section.coming-soon {
  margin-top: var(--section-margin-top);
  height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-wrap: balanced;
}

.section.coming-soon .title {
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(78, 182, 37, 0.4);
  color: var(--color-accent);
}
