.animals-slider--wrapper {
  position: relative;
}

.animals-slider--wrapper .section__caption {
  text-wrap: balance;
}

.animals-slider--wrapper .slider {
  width: var(--slider-width);
  height: var(--slider-height);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.animals-slider--wrapper .slide {
  /* position and size */
  position: absolute;
  top: 0;
  left: 33%;
  width: var(--slider-slide-width);
  height: var(--slider-height);
  overflow: hidden;

  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styling */
  opacity: 0.6;
  filter: blur(5px);
  transform: scale(0.6);

  /* transitions and animations */
  transition: transform 1s, filter 1s;
}

.animals-slider--wrapper .slide.activeSlide {
  opacity: 0.9;
  filter: blur(0);
  transform: scale(1) !important;
}

/* ----- styling for animated images ----- */
.animals-slider--wrapper .slide-image-wrapper > * {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  perspective: 20rem;
  transform-style: preserve-3d;
}

.animals-slider--wrapper .slide .slide--image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.animals-slider--wrapper .slide-image--left {
  /* orientation of perspective from left to center */
  perspective-origin: left center;
  /* cut image in half */
  /* clip path: left-top, left-top, left-top, left-top in watch direction from top left*/
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  /* clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%); */
}

.animals-slider--wrapper .slide-image--right {
  /* orientation of perspective from right to center */
  perspective-origin: right center;
  /* cut image in half */
  clip-path: polygon(49% 0, 100% 0, 100% 100%, 49% 100%);
  /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%); */
}

.animals-slider--wrapper .image-left-animated {
  animation: k-left-side 2s ease-in-out infinite;
  animation-direction: alternate;
}

.animals-slider--wrapper .image-right-animated {
  animation: k-right-side 2s ease-in-out infinite;
  animation-direction: alternate;
}

/* --------------------------------- */

/* shadow below image */
.animals-slider--wrapper .slide::after {
  content: "";
  position: absolute;
  width: calc(var(--slider-slide-width) / 2);
  height: 0;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-40%);
  /* background-color: black; */
  box-shadow: 0 0 16px 2px #010101;
  z-index: -1;
}

.animals-slider--wrapper .slider__btn {
  /* positioning and dimensions */
  position: absolute;
  bottom: -7%;
  height: var(--slider-btn-height);
  width: var(--slider-btn-width);

  /* styling */
  border: none;
  background: var(--color-accent-lighter-transparent);
  color: var(--color-accent-darker);
  border-radius: 50%;

  font-size: 3.2rem;
  cursor: pointer;

  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.animals-slider--wrapper .slider__btn--left {
  left: 4%;
  transform: translateY(50%);
}

.animals-slider--wrapper .slider__btn--right {
  right: 4%;
  transform: translateY(50%);
}

.animals-slider--wrapper .dots {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.animals-slider--wrapper .dots__dot {
  border: none;
  background-color: var(--color-accent-lighter);
  opacity: 0.7;
  height: var(--slider-dot-height);
  width: var(--slider-dot-width);
  border-radius: 50%;
  margin-right: 0.8rem;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 400px) {
  .animals-slider--wrapper .dots__dot {
    height: var(--slider-dot-height-smallscreen);
    width: var(--slider-dot-width-smallscreen);
  }
}

.animals-slider--wrapper .dots__dot:last-child {
  margin: 0;
}

.animals-slider--wrapper .dots__dot--active {
  background-color: var(--color-accent);
  opacity: 1;
}

.animals-slider--wrapper .slider-info {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: var(--slider-slide-width);
  backdrop-filter: blur(5px);
  background-color: var(--color-grey-trasparent);
  padding: var(--padding-default);
  border-radius: 8px;
  /* font-size: calc(var(--index) * 1.1); */
}

@media (max-width: 600px) {
  .animals-slider--wrapper .slider-info {
    max-width: calc(var(--slider-slide-width) * 1.2);
    padding: var(--padding-smallest);
    font-size: var(--font-size-smallscreens);
  }
}
